<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="blog_app.css">
    <title>Edit Blog</title>
</head>
<body>
    <div class="container">
        <div class="container-2">
            <h1>Blog</h1>
            <div class="container-3">
                <form action="/edit-3" method="POST">
                    <h3 id="Heading"><label for="title">Heading</label></h3>
                    <input type="text" name="title" placeholder="<%= blog[2].title %>" class="input" required>
                    <h3><label for="author"></label>Author</h3>
                    <input type="text" name="author" placeholder="<%= blog[2].author %>" class="input" required>
                    <h3><label for="article">Article</h3>
                    <textarea rows="6" cols="21" name="article" placeholder="<%= blog[2].article %>"></textarea><br>
                    <div class="button">
                    <input type="submit" value="Save" id="button">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>